{{ include('course/index.html.twig') }}
<div class="container">
    <div class="card">
        <div class="card-header">
            Course name
        </div>
        <ul class="list-group">
            {% for key,type in courseTypes %}
                <li><a class="course-type" data-id="{{ type.id }}"
                       href="{{ path('presentation_course', {slug : type.id}) }}"
                       data-bs-toggle="modal" data-bs-target="#exampleModal">{{ type.name }}</a>
                    {% if type.id == repetitionLength|keys[key] %}
                        <span>{{ repetitionLength[type.id] }}</span>
                    {% endif %}</li>
            {% endfor %}

        </ul>
        <div>

        </div>
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-body">
                        <a type="button" class="btn btn-primary d-block start-new-words">Learn new words</a>
                        <a type="button" class="btn btn-primary d-block start-repetition">Start repetition</a>
                        <a type="button" class="btn btn-secondary d-block" data-bs-dismiss="modal">Close</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>