{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}

    <div class="modal fade" id="registerModal" tabindex="-1" aria-labelledby="registerModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title text-center" id="registerModalLabel">Register form</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                {{ form_start(registrationForm) }}
                <div class="modal-body">
                    <div>
                        {{ form_widget(registrationForm.email, {attr: {class: 'form-control', placeholder: 'Enter your address email'}}) }}
                    </div>
                    <div>
                        {{ form_widget(registrationForm.name, {attr: {class: 'form-control  mt-2', placeholder: 'Enter your name'}}) }}
                    </div>
                    <div>
                        {{ form_widget(registrationForm.plainPassword.first, {
                            label: 'Password',
                            attr: {class: 'form-control mt-2 ', placeholder: 'Enter your password'}
                        }) }}
                    </div>
                    <div>
                        {{ form_widget(registrationForm.plainPassword.second, {
                            label: 'Password',
                            attr: {class: 'form-control mt-2 ', placeholder: 'Repeat your password'}
                        }) }}
                    </div>
                    <div class="mt-2 p-2">
                        {{ form_label(registrationForm.agreeTerms) }}
                        {{ form_widget(registrationForm.agreeTerms, {attr: {class: 'p-2'}}) }}
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    {{ form_widget(registrationForm.save, {attr: {class: 'btn btn-success'}}) }}
                </div>
                {{ form_end(registrationForm) }}

            </div>
        </div>
    </div>

{% endblock %}

