{% extends 'base.html.twig' %}
{% block body %}
    <div>
        <div>
            <div class="course-card" data-course-id="{{ courseId }}"
                 data-translation-id="{{ translation.id }}">{{ translation.frontSide }}</div>
            <button class="add-repetition" data-course-id="{{ courseId }}" data-repetition="{{ translation.repetition }}"
            >Don't
                know
            </button>
            <button class="add-repetition" data-course-id="{{ courseId }}" data-repetition="{{ translation.repetition }}"
                    data-slideId="{{ translation.id }}">Almost
            </button>
            <button class="add-repetition" data-course-id="{{ courseId }}" data-repetition="{{ translation.repetition }}"
                    data-slideId="{{ translation.id }}">
                Know
            </button>
        </div>
    </div>
{% endblock %}