{% extends 'base.html.twig' %}
{% block body %}
    {% if cards.id is defined %}
        <div>
            <div>
                <div class="course-card" data-course-id="{{ courseId }}"
                     data-word-id="{{ cards.id }}" data-repetition="{{ cards.repetition }}">{{ cards.frontSide }}</div>
                <button class="add-repetition" data-course-id="{{ courseId }}">Don't know</button>
                <button class="add-repetition" data-course-id="{{ courseId }}" data-slideId="{{ cards.id }}">Almost
                </button>
                <button class="add-repetition" data-course-id="{{ courseId }}" data-slideId="{{ cards.id }}"> Know
                </button>
            </div>
        </div>
    {% else %}
    {% endif %}
{% endblock %}