{% extends 'base.html.twig' %}
{% block body %}
    {% if cards.id is defined %}
        <div>
            <div style="height: calc(100vh - 56px);"
                 class="d-flex flex-column align-items-center justify-content-center">
                <div class="course-card mt-3" data-course-id="{{ courseId }}"
                     data-word-id="{{ cards.id }}" data-repetition="{{ cards.repetition }}">{{ cards.frontSide }}</div>
                <input type="text" class="answer-input d-flex mt-3" style="width: 300px"
                       placeholder="You can enter your answer here"/>
                <div class="back-side mt-3" style="display: none">{{ cards.backSide }}</div>
                <button class="btn btn-primary check mt-3">Check</button>
                <div class="mt-3">
                    <button class="add-repetition btn btn-danger" style="display: none" data-course-id="{{ courseId }}">
                        Don't know
                    </button>
                    <button class="add-repetition btn btn-warning" style="display: none" data-course-id="{{ courseId }}"
                            data-slideId="{{ cards.id }}">Almost
                    </button>
                    <button class="add-repetition btn btn-success" style="display: none" data-course-id="{{ courseId }}"
                            data-slideId="{{ cards.id }}">
                        Know
                    </button>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}